name: Deploy web app Static Web Apps

on:
  push:
    branches: [ "main" ]

env:
  APP_LOCATION: "CCDE-PortfolioApp/client"
  API_LOCATION: ""
  APP_ARTIFACT_LOCATION: "dist"
  AZURE_STATIC_WEB_APPS_API_TOKEN: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
  NODE_VERSION: "22"

permissions:
  contents: read

jobs:
  build_and_deploy_job:
    permissions:
      contents: read
      pull-requests: write
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest

    env:
      VITE_API_BASE_URL: ${{ secrets.VITE_API_BASE_URL }} 
      VITE_API_KEY: ${{ secrets.VITE_API_KEY }}

    name: Build and Deploy Job   
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
   
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{env.NODE_VERSION}}

      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ env.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: ${{ env.APP_LOCATION }}
          api_location: ${{ env.API_LOCATION }}
          app_artifact_location: ${{ env.APP_ARTIFACT_LOCATION }}

  