name: Deploy to Function App

on:
  push:
    branches: ["main"]

env:
  AZURE_FUNCTIONAPP_NAME: 'ccdeproject-api'     
  AZURE_FUNCTIONAPP_PACKAGE_PATH: 'CCDE-PortfolioApp\PortfolioApi'    
  DOTNET_VERSION: '10.0.x'                                 

jobs:
  build-and-deploy:
    runs-on: windows-latest
    environment: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET ${{ env.DOTNET_VERSION }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Build function project
        shell: pwsh
        run: |
          pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
          dotnet build --configuration Release --output ./output
          popd

      - name: Deploy to Azure Function App
        uses: Azure/functions-action@v1
        id: fa
        with:
          app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
          package: '${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/output'
          publish-profile: ${{ secrets.AZURE_FUNCTION_PUBLISH_PROFILE }}
          respect-pom-xml: false
          respect-funcignore: true

                            


